/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A0A0A;
    color: #f4f4f4;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 3px solid gold;
  }
  
  .navbar .logo img {
    height: 70px; 
    width: auto; 
    margin-right: 20px; 
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 70px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: gold;
  }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0.5em 0;
}

p {
    line-height: 1.6;
    margin: 0.5em 0;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

/* Main Content */
main {
    padding: 20px;
    background: #fff;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Contact Page Specific Styles */
.contact-page {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-page h2 {
    margin-bottom: 20px;
}

.contact-page form {
    display: flex;
    flex-direction: column;
}

.contact-page label {
    margin-bottom: 5px;
}

.contact-page input,
.contact-page textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-page button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-page button:hover {
    background: #555;
}